# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/ConsoleApplication1/.vs/ConsoleApplication1
/ConsoleApplication1/ConsoleApplication1/x64/Debug
/ConsoleApplication1/x64/Debug
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/Debug
/ConsoleApplication2/x64/Debug
/ConsoleApplication2/ConsoleApplication2/x64/Debug/ConsoleA.4ad26aad.tlog
/ConsoleApplication2/ConsoleApplication2/x64/Debug
/ConsoleApplication2/.vs/ConsoleApplication2/v17
/ConsoleApplication2/.vs/ConsoleApplication2/FileContentIndex
/ConsoleApplication2/.vs
/Intel_Edge/x64/Debug
/Intel_Edge/.vs/Intel_Edge
/Intel_Edge/2023_11_03_Test1/x64/Debug/2023_11_03_Test1.tlog
/Intel_Edge/2023_11_03_Test1/x64/Debug
/Intel_Edge/2023_11_10 ~ Class_Test/x64/Debug/2023_11_.72c2d2bc.tlog
/Intel_Edge/2023_11_10 ~ Class_Test/x64/Debug
/Intel_Edge/.vs/Intel_Edge_main/v17/ipch/AutoPCH
/Intel_Edge/.vs/Intel_Edge_main/v17
/Intel_Edge/.vs/Intel_Edge_main/FileContentIndex
/Rect_proj/.vs/Rect_proj
/Rect_proj/Debug
/Rect_proj/Rect_proj/x64/Debug/Rect_proj.tlog
/Rect_proj/Rect_proj/x64/Debug
/Rect_proj/x64/Debug
/Intel_Edge/Student/x64/Debug/Student.tlog
/Intel_Edge/Student/x64/Debug
